hr {
  margin: 0px 30px 20px;
}

hr.gradient-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body {
  width: 600px;
  height: 500px;
  background-image: radial-gradient(circle at center, #3f51b5, #293f66);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.option-container {
  display: grid;
  grid-template-columns:
    minmax(150px, 200px) /* метка — фиксированная ширина */
    1fr /* контейнер с параметрами — растягивается */
    100px; /* кнопка — фиксированная */

  gap: 8px;
  padding: 5px 10px 2px;
  margin: 5px;
  align-items: stretch;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 132, 0, 0.673);
  text-align: center;
}
