hr {
  margin: 0px 30px 20px;
  color: black;
}

hr.gradient-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body {
  width: 600px;
  height: 500px;
  background-image: linear-gradient(to top, #0b0033d7 0%, #002565 20%, #133d85e2 80%);
}

.option-container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 4fr 5fr 1fr;
  padding-right: 10px;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 132, 0, 0.673);
  color: white;
  text-align: center;
}
