hr {
  margin: 0px 30px 20px;
}

hr.gradient-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

body {
  width: 600px;
  height: 500px;
  background: radial-gradient(circle, #1a1a1a 0%, #000000 100%);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.option-container {
  display: grid;
  /* 1-я колонка: метка (фикс), 2-я: поле (тянется), 3-я: кнопка (по контенту) */
  grid-template-columns: 200px 1fr auto;
  gap: 15px;
  padding: 10px;
  align-items: center; /* Центрируем всё по вертикали */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Для визуального разделения строк */
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 212, 166, 0.673);
  text-align: center;
}
